ReconhecerDigitos.ipynb
archive.zip
emnist_source_files
emnist-byclass-mapping.txt
emnist-byclass-test.csv
emnist-byclass-train.csv
emnist-bymerge-mapping.txt
emnist-bymerge-test.csv
emnist-bymerge-train.csv
emnist-digits-mapping.txt
emnist-digits-test.csv
emnist-digits-train.csv
emnist-letters-mapping.txt
emnist-letters-test.csv
emnist-letters-train.csv
emnist-mnist-mapping.txt
emnist-mnist-test.csv
emnist-mnist-train.csv
DigitsCollection.csv